In [8]:
a = int(input("Enter English Marks:"));
b = int(input("Enter Urdu Marks:"));
c = int(input("Enter Math Marks:"));
d = int(input("Enter Science Marks:"));
e = int(input("Enter History Marks:"));
total = a + b + c + d + e
print("Total is")
print(total);
per = (total / 500) * 100;
if per >= 80 and per <= 100:
    print("Grade A+")
elif per >= 70 and per <= 79:
    print("Grade A")
elif per >= 60 and per <= 69:
    print("Grade B")
elif per >= 50 and per <= 59:
    print("Grade C")
elif per >=40 and per <=49: 
    print("Grade D") 
else:
    print("Grade F")

Enter English Marks:76
Enter Urdu Marks:87
Enter Math Marks:98
Enter Science Marks:79
Enter History Marks:98
Total is
438
Grade A+

In [10]:
a = int(input(" Enter Number:"));
if a % 2 == 0:
    print(" The number is Even")
else:
    print(" The number is odd")

 Enter Number:6
 The number is Even

In [17]:
name = ["sara", "ali", 67, 0.9, "true"]
len(name)

5

In [23]:
name = [6, 4, 67, 0.9]
total = sum(name)
print("total is", total)

total is 77.9

In [22]:
name = [6, 77, 58, 2.9]
total = max(name)
print("larger number is", total)

larger number is 77

In [31]:
name = [6, 4, 67, 0.9, 2, 3, 6]
total = check(name)
print("larger number is", total)

TypeError: '>=' not supported between instances of 'list' and 'int'